.img-set {
    max-height: 600px;
    max-width: 100%;
    flex: auto;

}
.flash-message {
  position: fixed;
  bottom: var(--space-md);
  left: var(--space-md);
  z-index: var(--z-index-fixed-element, 10);
  background-color: var(--color-bg-light);
  padding: var(--space-xs);
  box-shadow: var(--inner-glow), var(--shadow-sm);
  border-radius: var(--radius-md);
  color: var(--color-contrast-high);
  font-size: var(--text-sm);
  transition: 0.2s;
  -webkit-transform: translateY(16px);
          transform: translateY(16px);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  opacity: 0;
  visibility: hidden;
}

.flash-message--is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.title-img{
    max-width: 400px;
    max-height: 300px;

}
.carousel {
    margin-top: 50px;
    opacity:95%;
}
.text  {
    font-size: 25px;
    font-family:'DejaVu Sans';
}





