.img-set {
    max-height: 600px;
    max-width: 100%;
    flex: auto;

}


.title-img{
    max-width: 400px;
    max-height: 300px;

}
.carousel {
    margin-top: 50px;
    opacity:95%;
}
.text  {
    font-size: 25px;
    font-family:'DejaVu Sans';
}





