{% extends 'base.html' %}
{% load static %}
{% block title %}
    Главная страница
{% endblock %}

{% block content %}
<div class="container" >
{% for item in info %}
    <div class="card mb-1 col-sm-auto fluid text-center " style="margin-top: 10px">
        <img class="card-img-top title-img" src="{{ item.images.url }}" alt="Card image cap">
        <div class="card-body ">
            <h5 class="card-title ">{{ item.name }}</h5>
            <p class="card-text  ">{{ item.description }}</p>
            <p class="card-text "><small class="font-weight-bold" style="font-size: 14pt">{{ item.price }} Рублей </small></p>
        </div>
        <a href="{% url 'apartment_detail_url' slug=item.slug %}" class="btn btn-primary" target="_blank">Подробней</a>
    </div>
{% endfor %}
</div>
{% endblock %}
