{% extends 'base.html' %}
{% block title %}
    Reserve
{% endblock %}


{% block content %}

    <h1> Бронирование: </h1>
    <p> Забронировать квартиру посуточно в Городе N очень просто, притом разными
        Вы можете просто позвонить по одному из телефонов – <b>8 (800) 225-333-555</b> или <b>8-800-235-25-25</b>, и оставить заявку нашему менеджеру.
    Вы можете написать нам e-mail на почту kedr-hotel@mail.ru.
    Также Вы можете оставить заявку прямо на сайте, заполнив форму ниже.
        В сообщении просим указать желательный адрес из представленных на сайте вариантов, нужное количество комнат, дату приезда, и другие пожелания.
        Если нужная квартира свободна на нужный срок, мы забронируем её за Вами, иначе подберем подходящую свободную квартиру из множества имеющихся вариантов.
        В любом случае наш менеджер перезвонит Вам для согласования.
    </p>

<form action="{% url 'to_book_url' %}" method="post">
    {% csrf_token %}

    {% for field in form %}
     <div class="form-group col-md-6" >

     {{ field.name }}
     {{ field }}

  </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary"> Отправить </button>


</form>

{% endblock %}