{% extends 'base.html' %}
{% load static %}
{% block title %}
    Бронирование
{% endblock %}


{% block content %}

    <h1 class="TextField"> Бронирование: </h1>
     <p class="TextField">Забронировать квартиру посуточно в Городе Нижневартовске очень просто, притом разными
        Вы можете просто позвонить по одному из телефонов – <b><a href="tel:+79048702209">+79048702209</a> </b> или <b><a href="tel:+79048702209">+79048702209</a></b>, и оставить заявку нашему менеджеру.
        Вы можете написать нам e-mail на почту <a href="mailto:kedrhaus_hotel@mail.ru"> kedrhaus_hotel@mail.ru</a>.
    Также Вы можете оставить заявку прямо на сайте, заполнив форму ниже.
        В сообщении просим указать желательный адрес из представленных на сайте вариантов, нужное количество комнат, дату приезда, и другие пожелания.
        Если нужная квартира свободна на нужный срок, мы забронируем её за Вами, иначе подберем подходящую свободную квартиру из множества имеющихся вариантов.
        В любом случае наш менеджер перезвонит Вам для согласования.
    </p>
    </div>

<form id = 'ReserveBocking' action="{% url 'to_book_url' %}" method="post">
    {% csrf_token %}
    <div class="container">
    {% for field in form %}
     <div class="form-group col-md-6" >

     {{ field.label }}
     {{ field }}

  </div>
        {% endfor %}
    <button  class="btn btn-primary SenderBocking"> Отправить </button>

    </div>
</form>
    <div class="flash-message js-flash-message" role="status" id="flashMessage1" data-duration="5000">
  <p>This is a flash message</p>
</div>
{% endblock %}
{% block script %}
    <script type="module" src="{% static 'js/add_new_boocking.js'  %}"></script>
{% endblock %}