{% extends 'base.html' %}
{% block title %}
    Бронирование
{% endblock %}


{% block content %}

    <h1> Бронирование: </h1>
     <p style="font-family: 'Harlow Solid Italic';font-size: 15pt">Забронировать квартиру посуточно в Городе Нижневартовске очень просто, притом разными
        Вы можете просто позвонить по одному из телефонов – <b><a href="tel:+79048702209">+79048702209</a> </b> или <b><a href="tel:+79048702209">+79048702209</a></b>, и оставить заявку нашему менеджеру.
        Вы можете написать нам e-mail на почту <a href="mailto:kedrhaus_hotel@mail.ru"> kedrhaus_hotel@mail.ru</a>.
    Также Вы можете оставить заявку прямо на сайте, заполнив форму ниже.
        В сообщении просим указать желательный адрес из представленных на сайте вариантов, нужное количество комнат, дату приезда, и другие пожелания.
        Если нужная квартира свободна на нужный срок, мы забронируем её за Вами, иначе подберем подходящую свободную квартиру из множества имеющихся вариантов.
        В любом случае наш менеджер перезвонит Вам для согласования.
    </p>

<form action="{% url 'to_book_url' %}" method="post">
    {% csrf_token %}
    <div class="container">
    {% for field in form %}
     <div class="form-group col-md-6" >

     {{ field.label }}
     {{ field }}

  </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary"> Отправить </button>

    </div>
</form>

{% endblock %}
